@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #e3ebd2;
  --second-color: #afb5a2;
  --text: black;
  --text-blanc: #fff;
  --texte-menu-footer: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: #333;
  line-height: 1.6;
  width: 100%;
}

header {
  margin: 20px 0px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 70px;
  height: 70px;
  margin-left: 20px;
}

header .logo img {
  height: 100%;
  width: 100%;
}

header .menu {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}



header .menu .menu-normal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

header .menu .menu-contact {
  width: 10%;
}

header .menu .menu-contact a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 20px;
  background-color: var(--second-color);
  color: var(--text);
  padding: 10px 20px;
  border-radius: 15px;
}

.menu .menu-normal a {
  position: relative;
  font-weight: 500;
  color: var(--text);
  font-size: 20px;
  text-decoration: none;
}

.menu .menu-normal a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu .menu-normal a:hover::before {
  transform: scaleX(1);
}

.button-menu{
    margin: 0px 50px; 
    font-size: 40px;
    display: none;
    cursor: pointer;
}

.menu-2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    display: none;
}

.menu-2.active{
    display: block;
}

.button-close{
    color: var(--text-blanc);
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.menu-liens{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-liens a{
    font-size: 15px;
    color: var(--text-blanc);
    text-decoration: none;
    margin: 20px 0px;
}

footer {
    padding: 30px 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: var(--text-blanc);
}

footer h4 {
    font-size: 20px;
    font-weight: 300;
}

footer ul,
footer a {
    text-decoration: none;
    list-style-type: none;
    color: #ffffffa3;
}

footer ul::first-line {
    font-weight: bold;
    color: var(--text-blanc);
}

footer li {
    padding: 3px;
}

@media screen and (max-width: 1000px){
    .button-menu{
        display: block;
    }

    header .menu{
        display: none;
    }
}