main {
  margin: 50px 0px;
}

.news {
  width: 90%;
  margin: 20px 0px;
}

.contenu {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #afb5a2;
  position: relative;
}


.contenu p, .contenu h3, .contenu ul {
    margin: 20px;
}

.contenu h3 {
    text-align: center;
}

.bloc-news-1 {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 40% 1% 59%;
  align-items: center;
  justify-content: center;
}

.bloc-news-2 {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 60% 1% 39%;
  align-items: center;
  justify-content: center;
}

.contenu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.contenu a:visited {
  color: forestgreen;
}

#centered {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/fond-pdf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

#article-1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/fond-article-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}