main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.main-1 .titre {
  margin: 50px;
  width: 100%;
}

.main-1 .titre .part-1 {
  margin: 0px;
}

.main-1 .titre .part-1 h2 {
  font-size: 70px;
  font-weight: 700;
  color: var(--text);
  text-transform: uppercase;
}

.main-1 .titre .part-2 {
  margin: 0;
  height: 90px;
  display: flex;
  align-items: flex-end;
}

.main-1 .titre .part-2 .part-2-texte {
  width: 20%;
}

.part-2 .part-2-texte {
  font-size: 18px;
  color: var(--text);
}

.main-1 .titre .part-2 .part-2-titre {
  width: 80%;
  margin: 0px 20px;
}

.part-2 .part-2-titre h1 {
  font-size: 70px;
  font-weight: 700;
  color: var(--text);
  text-transform: uppercase;
}

.main-1 .main-image {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image img {
  width: 100%;
  height: 100%;
}

.main-2 {
  margin-top: 100px;
  width: 90%;
  height: 700px;
}

.main-2 .titre h2 {
  font-weight: 300;
  font-size: 60px;
  text-transform: uppercase;
}

.sticky {
  position: sticky;
  top: 0;
}

.main-2 .part-text{
  margin-left: 20px;
  height: 700px;
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.main-2 h2 {
  font-weight: 300;
  font-size: 25px;
}

.main-2 .contenu {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 1% 39%;
}

.main-2 .vl {
  border-left: 6px solid #333;
  height: 600px;
}

.box {
  width: 180px;
  height: 350px;
  font-size: 30px;
  display: grid;
  place-content: center;
}

.main-2 .contenu .part-text:has(.sticky) {
  height: 700px;
}

.main-2 .contenu .part-problematique {
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
}

.main-3 {
  margin: 100px 0px;
  width: 90%;
}

.main-3 h2 {
  font-size: 50px;
  font-weight: 300;
  margin: 20px 0px;
}

.main-3 .image-slider {
  display: flex;
}

.main-3 .flip-card {
  cursor: pointer;
  background-color: transparent;
  width: 300px;
  height: 350px;
  margin: 15px;
  perspective: 1000px;
}

.main-3 .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-3 .flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.main-3 .flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;

}

.main-3 .flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: var(--text-blanc);
}

.main-3 .flip-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: var(--text-blanc);
  transform: rotateY(180deg);
}

.main-3 a {
  font-size: 20px;
  position: absolute;
  right: 15px;
  text-decoration: none;
  color: var(--text);
  background-color: var(--second-color);
  border-radius: 60px;
  padding: 8px;
}

.page-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px;
}

#contact-arrow {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 6vw;
    text-decoration: none;
    color: var(--text);
}

#titre-contact {
    font-size: 200%;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form input,
form textarea {
  background-color: var(--second-color);
  border: 0;
  width: 400px;
  padding: 8px;
  border-radius: 5px;
  margin: 10px;
}

form #form-submit {
    display: flex;
    justify-content: center;
}

form #submit {
    color: var(--text-blanc);
    background-color: #333333;
}

form textarea {
    width: 825px;
}

form textarea::placeholder {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}



